{% extends "layout.html" %}
{% block cont %}

<div class="d-flex justify-content-center text-center mt-4">
  <h3 class="main-heading" style="font-family: 'Kanit', sans-serif; font-size: 2.2rem; margin-bottom: 10px;">
      OUR TEAM 
  </h3>
</div>

<div class="container2">
    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Sumit.jpg') }}" class="card-img-top" style="max-height: 260px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Sumit Sourav Choudhury</h5>
          <p class="card-text text-center">Full Stack Developer | Team Leader</p>
        </div>
    </div>
    
    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Koonal.png') }}" class="card-img-top" style="max-height: 260px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Kunal Dubey</h5>
          <p class="card-text text-center">Back-end Developer</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/puneet.png') }}" class="card-img-top" style="max-height: 260px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Puneet Kulshrestha</h5>
          <p class="card-text text-center">Front-end Developer</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Mehtar.jpeg') }}" class="card-img-top" style="max-height: 260px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Aastha Namdeo</h5>
          <p class="card-text text-center">Research and Documentation</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Raj.jpeg') }}" class="card-img-top" style="max-height: 260px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Pushpraj Tiwari</h5>
          <p class="card-text text-center">Design and Testing</p>
        </div>
    </div>
    
</div>


{% endblock %}

