{% extends "layout.html" %}
{% block cont %}

<div class="container2">
    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Sumit.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Sumit Sourav Choudhury</h5>
          <p class="card-text text-center">Full Stack Developer | Team Leader</p>
        </div>
    </div>
    
    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Sumit.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Kunal Dubey</h5>
          <p class="card-text text-center">Back-end Developer</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Sumit.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Puneet Kulshrestha</h5>
          <p class="card-text text-center">Front-end Developer</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Sumit.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Aastha Namdeo</h5>
          <p class="card-text text-center">Content and Documentation</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Sumit.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Pushpraj Tiwari</h5>
          <p class="card-text text-center">Design and Research</p>
        </div>
    </div>
    
</div>


{% endblock %}

