{% extends "layout.html" %}
{% block cont %}

<div class="container2">
    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Sumit.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sumit Sourav Choudhury</h5>
          <p class="card-text">Full Stack Developer | Team Leader</p>
        </div>
    </div>
    
    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Sumit.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kunal Dubey</h5>
          <p class="card-text">Back-end Developer</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Sumit.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Puneet Kulshrestha</h5>
          <p class="card-text">Front-end Developer</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Sumit.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aastha Namdeo</h5>
          <p class="card-text">Content and Documentation</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 30px;">
        <img src="{{ url_for('static', filename='images/Sumit.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pushpraj Tiwari</h5>
          <p class="card-text">Design and Research</p>
        </div>
    </div>
    
</div>


{% endblock %}

